{
  "project_info": {
    "project_number": "131873195340",
    "firebase_url": "https://maps-69bba.firebaseio.com",
    "project_id": "maps-69bba",
    "storage_bucket": "maps-69bba.appspot.com"
  },
  "clie